# Database Global Credentials
DB_USER=user
DB_PASSWORD=password

# --- Inventory ---
INVENTORY_DB_NAME=movies_db
INVENTORY_DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@inventory-db:5432/${INVENTORY_DB_NAME}
INVENTORY_HOST=inventory-app
INVENTORY_PORT=8080

# --- Billing ---
BILLING_DB_NAME=billing_db
BILLING_DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@billing-db:5432/${BILLING_DB_NAME}
BILLING_HOST=billing-app
BILLING_PORT=8080

# --- API Gateway ---
API_GATEWAY_PORT=3000 

# --- RabbitMQ ---
RABBITMQ_USER=crud-master
RABBITMQ_PASS=crud-master
RABBITMQ_VHOST=/
RABBITMQ_HOST=rabbit-queue
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=billing_queue